.App {
  width:1000px;
  margin:auto;
}
h1{
  font-weight: normal;
}
.link{
  text-decoration-line: none;
  color:gray;
}
.active{
  color:black;
}
.table{
  width:100%;
  border:1px solid rgb(151, 149, 149);
  text-align: left;
  display: table;
}

.left{
  width:239px;
  height:50px;
  padding:5px;
  float:left;
  border-top:1px solid rgb(151, 149, 149);
  border-right: 1px solid rgb(151, 149, 149);
}
.right{
  width:240px;
  height:50px;
  padding:5px;
  float:left;
  border-top:1px solid rgb(151, 149, 149);
}
.activebutton{
  height: 30px;
  width:30px;
  background:gray;
  float:left;
  text-align: center;
  margin-right: 5px;
  border: none;
}
.button{
  height: 30px;
  width:30px;
  background:white;
  float:left;
  text-align: center;
  margin-right: 5px;
  border: none;
}
.button:hover{
     background:lightgray;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class="left"] {
    width: 100%;
  }
}
.message{
  float: 'center';
  margin-left: 200px ;
}
.remote{
width: 40px;
 height: 40px;
  padding: 5px 
}
.headr{
  float:left;
  width:239px;
  height:30px;
  padding:5px;
  border-right: 1px solid rgb(151, 149, 149);
  border-bottom:1px solid rgb(151, 149, 149);
}
.headl{
  width:240px;
  float:left;
  padding:5px;
  height:30px;
  border-right: 0px;
  border-bottom:1px solid rgb(151, 149, 149);
}
input[type=text]{
  margin: 10px;
  margin-left: 0px;
  padding:10px;
  border:1px solid rgb(151, 149, 149);
  border-radius: 3px;
  width:50%;
}

button{
  margin: 5px;
  margin-left: 0px;
  padding:5px;
  border-radius: 5px;
  float:left;
  background-color: #e6e6e6;
  width:80px;
  height:45px;
  border:none;

}
.submit{
  text-align: center;
  background-color:rgb(151, 149, 149);
  padding-top:0px;
}

